#roundedPreview {
	width: 56px;
	height: 56px;
	border-radius: 50%;
	display: inline-block;
	overflow: hidden;
	margin: 0 0 0 20px;
}
#roundedPreview img {
	display: block;
	position: relative;
	top: 0;
	left: 0;
}
#roundedPreview.pos_center img {
	left: -18px;
}
#roundedPreview.pos_right img {
	left: -36px;
}

#popupRoundedPreview .imageView {
	display: inline-block;
	position: relative;
	top: 0;
	left: 0;
	width: 120px;
	height: 120px;
	overflow: hidden;
	border-radius: 50%;
	margin: 0 10px;
	opacity: 0.8;
}
#popupRoundedPreview .active {
	opacity: 1.0;
}

#popupRoundedPreview .imageView img {
	display: block;
}

#popupRoundedPreview  span {
	display: none;
}
#popupRoundedPreview .active span {
	position: absolute;
	top: 0;
	left: 0;
	width: 110px;
	height: 110px;
	display: block;
	border-radius: 50%;
	border: 5px solid red;
	box-shadow: inset 0 0 4px #000000;
	z-index: 10;
}


#popupRoundedPreview .iv2 img {
	position: relative;
	top: 0;
	left: -40px;
}
#popupRoundedPreview .iv3 img {
	position: relative;
	top: 0;
	left: -80px;
}
