#news {
    position: relative;
    padding: 140px 0 140px 0;
}

#news .bg-curve:before {
    content: '';
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 100px;
    -webkit-transform: skewY(-4deg);
       -moz-transform: skewY(-4deg);
        -ms-transform: skewY(-4deg);
         -o-transform: skewY(-4deg);
}

#news .container {
    z-index: 50;
}

/* Заголовок */
#news .title {
    text-align: center;
}

#news .title h1 {
    z-index: 3;
    position: relative;
    margin-bottom: 35px;
    font: normal 60px/70px Pragmatica Light, Helvetica, sans-serif;
    text-transform: uppercase;
}

#news .title h1:before {
    content: '';
    position: absolute;
    display: block;
    width: 68px;
    height: 130px;
    top: -150px;
    left: 53%;
    background: url('/app/src/img/line-rotated.png') no-repeat left top;
}

#news .title h1:after {
    content: '';
    position: absolute;
    display: block;
    width: 68px;
    height: 130px;
    bottom: -147px;
    left: 40%;
    background: url('/app/src/img/line-rotated.png') no-repeat left top;
}


/**
 * Навигация по категориям
 */
#news .title ul {
    z-index: 3;
    position: relative;
    display: inline-block;
    height: 40px;
    margin-bottom: 50px;
    list-style-type: none;
}

#news .title ul:after {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d4d9dc;
    -webkit-transform: skewX(-28deg);
       -moz-transform: skewX(-28deg);
        -ms-transform: skewX(-28deg);
         -o-transform: skewX(-28deg);
}

#news .title li {
    position: relative;
    display: inline-block;
    height: 40px;
    padding: 0 24px;
    cursor: pointer;
}

/* При наведении */
#news .title li:hover:after {
    content: '';
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #c1c7ca;
    border: none;
    -webkit-transform: skewX(-28deg);
       -moz-transform: skewX(-28deg);
        -ms-transform: skewX(-28deg);
         -o-transform: skewX(-28deg);  
}

#news .title li:hover a {
    z-index: 2;
    position: relative;
}

/* Активное  состояние */
#news .title li.active:after,
#news .title li.active:hover:after {
    content: '';
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    -webkit-transform: skewX(-28deg);
       -moz-transform: skewX(-28deg);
        -ms-transform: skewX(-28deg);
         -o-transform: skewX(-28deg);  
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
       -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
            box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}

#news .title li.active a,
#news .title li.active a:hover {
    z-index: 1;
    position: relative;
    color: #000000;
    border: none;
}

#news .title li.active span {
    border: none;
}
 
#news .title a  {
    display: inline-block;
    width: 100%;
    height: 100%;
    font: normal 17px/38px Pragmatica, Helvetica, sans-serif;
    color: #0c0c0c;
    text-decoration: none;
}

#news .title span {
    border-bottom: 1px dotted #0c0c0c;
}


/**
 * Публикация
 */
#news .article {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 265px;
}

#news .article.odd .img {
    top: -35px;
    right: 0;
    left: auto;
}

#news .article.odd .text {
    float: left;
    padding: 0 45px 0 30px;
}

/* Изображение */
#news .article .img {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 50%;
}

#news .article .img:before,
#news .article .img:after {
    content: '';
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 40px;
    background-color: #eaecef;
    -webkit-transform: skewY(-4deg);
       -moz-transform: skewY(-4deg);
        -ms-transform: skewY(-4deg);
         -o-transform: skewY(-4deg);
}

#news .article .img:before { top: -22px; }
#news .article .img:after  { bottom: -19px; }

/* Дата */
#news .date {
    z-index: 2;
    position: absolute;
    top: 30px;
    left: 50%;
    width: 86px;
    height: 28px;
    margin-left: -43px;
    color: #ffffff;
    text-align: center;
    background-color: #e30613;
}

#news .date p {
    font: normal 12px/28px Arial, sans;
}

/* Текст */
#news .text {
    float: right;
    width: 50%;
    position: relative;
    top: 75px;
    max-height: 160px;
    padding: 0 30px 0 45px;
    color: #000000;
    overflow: hidden;
}

#news .text h1 {
    font: normal 40px/50px Pragmatica Light, Helvetica, sans-serif;
}

#news .text h1 a {
    text-decoration: none;
    border-bottom: 1px solid #000000;
}

#news .text h2 {
    font: normal 18px/24px Pragmatica, Helvetica, sans-serif;
    margin-bottom: 10px;
}

#news .text h2 a:hover {
    color: #ff000f;
}

#news .text p {
    font: normal 14px/17px Pragmatica, Helvetica, sans-serif;
}

#news .text a {
    color: #000000;
    text-decoration: underline;
}

/* Прелоадер */
#preloader {
    position: relative;
    display: block;
    width: 0px;
    height: 25px;
    background-color: #ec1c25;
}